.footer {
    padding: 37px 0 50px;
    border-top: 3px solid #E53030;
    &__inner {
        display: flex;
        justify-content: space-between;
    }
    &__col {
        max-width: 360px;
        width: 100%;
        &-text {
            padding-top: 29px;
            color: #969696;
            line-height: 1.2; 
            & p {
                margin-bottom: 41px;
            }
            & p:last-child {
                margin-bottom: 0;
            }
        }
    }
    &__address {
        &-item {
            display: flex;
            justify-content: flex-end;
            align-items: flex-start;
            gap: 21px;
            margin-bottom: 23px;
        }
        &-location {
            max-width: 277px;
            text-align: right;
        }
        &-country {
            margin-bottom: 10px;
        }
        &-text {
            color: #000;
            font-size: 12px;
            font-weight: 500;
            line-height: 1.2;
            & p {
                margin-bottom: 10px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
    &__socials-list {
        display: flex;
        gap: 15px;
        justify-content: flex-end;
    }
}